$tablet: 768px;
$desktop: 1280px;
$laptop: 1024px;

@mixin tablet {
	@media (min-width: #{$tablet}) {
		@content;
	}
}

@mixin laptop {
	@media (min-width: #{$laptop}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

@mixin container {
	width: 100%;
	padding: 0 30px;
	margin: 0 auto;

	@include desktop {
		max-width: 1300px;
	}
}

@mixin link {
	padding: 5px 10px;
	border-radius: 5px;
	background-color: $secondary;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: $tertiary;
	}

	@include tablet {
		font-size: 20px;
	}
}

@mixin bigHeader {
	margin: 0;
	font-size: 40px;

	@include tablet {
		font-size: 50px;
	}
}

@mixin smallHeader {
	margin: 0;
	font-size: 25px;
	font-weight: 700;

	@include tablet {
		font-size: 35px;
	}
}

@mixin smallText {
	font-size: 14px;

	@include tablet {
		font-size: 18px;
	}

	@include desktop {
		font-size: 20px;
	}
}

@mixin line ($height: 5px) {
	width: 100%;
	height: $height;
	border: none;
	border-radius: $height/2;
	margin: 5px 0;
	background-color: $primary;
}
