@import "styles/main";

.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include container;

	.hr {
		&.light {
			@include line(5px, light);
		}

		&.dark {
			@include line(5px, dark);
		}
	}

	.commitMessage {
		margin: 20px 0;
	}
}
