@import "styles/main";

.container {
	width: 100%;

	.bigHeader {
		@include bigHeader;
	}

	.text {
		@include smallText();

		margin: 15px 0;

		.bold {
			font-weight: 800;
		}
	}

	li {
		margin: 15px 0;
	}

	.link {
		&.light {
			@include link(light);
		}

		&.dark {
			@include link(dark);
		}
	}

	.cvContainer {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.contactList {
		padding-inline-start: 0;

		@include tablet {
			padding-inline-start: 40px;
		}

		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			@include tablet {
				display: list-item;
			}
		}
	}
}
