@import "src/styles/main";

.container {
	width: 100%;

	.bigHeader {
		@include bigHeader;
	}

	.text {
		@include smallText();

		margin: 15px 0;

		.bold {
			font-weight: 800;
		}
	}

	li {
		margin: 15px 0;
	}

	.link {
		@include link;
	}

	.cvContainer {
		display: flex;
		width: 100%;
		justify-content: center;
	}
}
