@import "src/styles/main";

.container {
	position: relative;
	width: 100%;

	.headerContainer {
		position: sticky;
		z-index: 5;
		top: 0;
		padding: 10px 0;
		box-shadow: 0 0 0;
		transition: all 0.2s ease-in-out;

		@include tablet {
			padding: 30px 0;
		}

		&.scrolled {
			box-shadow: 0 0 5px;
		}
	}

	.sections {
		@include container;

		display: grid;

		.sectionContainer {
			overflow: hidden;
			margin-top: 20px;
			grid-area: 1/1/2/2;
		}
	}

	.hrContainer {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include container;

		.hr {
			@include line;
		}
	}
}
