@import "styles/main";

.headerContainerOuter {
	position: sticky;
	z-index: 5;
	top: 0;
	padding: 10px 0;
	background-color: inherit;
	box-shadow: 0 0 0;

	@include tablet {
		padding: 30px 0;
	}

	&.scrolled {
		box-shadow: 0 0 5px;
	}

	.headerContainer {
		@include container;

		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.mainTitle {
			margin: 0;
			cursor: pointer;
			font-size: 50px;
		}

		.hr {
			&.light {
				@include line(5px, light);
			}

			&.dark {
				@include line(5px, dark);
			}
		}
	}

	.navBar {
		@include container;

		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 5px;

		@include tablet {
			margin-top: 20px;
		}

		.navItem {
			&.light {
				@include link(light);
			}

			&.dark {
				@include link(dark);
			}

			position: relative;
			font-size: 14px;
			text-transform: uppercase;
			user-select: none;

			@include tablet {
				font-size: 20px;
			}

			.underline {
				&.light {
					@include line(4px, light);
				}

				&.dark {
					@include line(4px, dark);
				}

				position: absolute;
				right: 0;
				bottom: -12px;
				left: 0;

				@include tablet {
					bottom: -20px;
				}
			}
		}
	}
}
