@import "src/styles/main";

.gridItem {
	display: grid;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
	border-bottom: 2px $primary solid;
	grid-template-areas:
		"image title"
		"image description"
		"links tags";

	.gridTitle {
		margin: 0 30px;
		font-size: 20px;
		font-size: 30px;
		font-weight: 600;
		grid-area: title;
		text-align: center;
	}

	.gridImage {
		grid-area: image;
	}

	.linkContainer {
		display: flex;
		justify-content: center;
		gap: 20px;
		grid-area: links;

		.link {
			padding: 5px;
			border-radius: 10px;
			background-color: $secondary;
			cursor: pointer;
			font-size: 20px;
			font-weight: 700;
			transition: background-color 0.5s ease-in-out;

			&.link:hover {
				background-color: $tertiary;
			}
		}
	}

	.gridDescription {
		margin: 0 20px;
		font-size: 13px;
		grid-area: description;

		@include tablet {
			margin: 0 30px;
			font-size: 16px;
		}

		@include desktop {
			margin: 0 30px;
			font-size: 18px;
		}
	}

	.gridTagsContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h4 {
			margin: 10px 30px;
			text-transform: uppercase;
		}

		.gridTags {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;
			font-weight: 800;
			gap: 10px;

			.gridTag {
				padding: 5px;
				border-radius: 5px;
				background-color: $secondary;
				font-size: 20px;
				transition: background-color 0.5s ease-in-out;
				// cursor: pointer;

				&.gridTag:hover {
					background-color: $tertiary;
				}
			}
		}
	}
}
