@import "src/styles/main";

.navBar {
	@include container;

	display: flex;
	max-width: 1000px;
	justify-content: space-between;
	margin-top: 20px;

	.navItem {
		display: flex;
		width: 15%;
		height: 100%;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		background-color: $secondary;
		box-shadow: 0 0 5px black;
		cursor: pointer;
		font-size: 20px;
		font-weight: 600;
		transition: all 0.2s ease-in-out;
		user-select: none;

		&.highlight {
			background-color: $tertiary;
		}

		&.navItem:hover {
			box-shadow: 0 0 15px black;
		}
	}
}
